[Desktop Entry]
Name=Calculator
Comment=Simple Calculator
Keywords=calculator
TryExec=calculator
Exec=calculator
Icon=com.blogspot.bitwalk.Calculator
Type=Application
Categories=Utility
StartupNotify=true
X-GNOME-SingleWindow=false
